<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db.sqlmapper">

	<select id="selectMember" resultType="MemberVO" parameterType="String">
		select * from member where id like #{id}
	</select>
	
	<insert id="insertMember" parameterType="vo.MemberVO">
		insert into Member(id,pass,name,age,grade) 
			values (#{id},#{pass},#{name},#{age},#{grade})
	</insert>
	
	<update id="updatePass" parameterType="vo.MemberVO">
		<!-- #{no}에 우리가 받아온 숫자를 넣어주겠다. -->
		update Member set pass = #{pass} where id = #{id}
	</update>

	<select id="login" resultType="vo.MemberVO" parameterType="String">
		select id, name, pass, age, grade_name from member, 
		grade_list where grade_no = #{grade} and id like #{id} and pass like #{pass}
	</select>
	
	<update id="updateMember" parameterType="vo.MemberVO">
		<!-- #{no}에 우리가 받아온 숫자를 넣어주겠다. -->
		update Member set pass = #{pass}, name = #{name}, age = #{age} where id = #{id}
	</update>
	
	<select id="selectAllMemberVO" resultType="vo.MemberVO">
		select id, name, pass, age, grade_name from member, grade_list 
		where grade_no = #{grade} order by grade desc";
	</select>
	
	<select id="selectPositionEmployee" resultType="dto.EmployeeDTO" parameterType="int">
		<!-- position이 4보다 작은 애들 추출
			<![CDATA[select * from employee where position < 4]]>  -->
		<![CDATA[select * from employee where position < #{no}]]>
	</select>
		
	<select id="selectPositionAreaEmployee" resultType="dto.EmployeeDTO" parameterType="map">
		<!-- #{no}에 우리가 받아온 숫자를 넣어주겠다. -->
		<![CDATA[select * from employee where position between #{n1} and #{n2}]]>
	</select>
	
	
	<select id="selectNameEmployee" resultType="dto.EmployeeDTO" parameterType="String">
		select * from employee where name like '%'||#{name}||'%'
	</select>
	
	<delete id="deleteEmployee" parameterType="int" >
		<!-- 값이 하나들어오면 #{position}의 변수명이 바뀌어도 됨 -->
		delete from employee where position = #{position}
	
	</delete>
</mapper>